<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>逸仙徒步</title>
  <link rel="stylesheet" href="index.css" />
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_jmcl0gxjy7am7vi.css" />
  <script src="//at.alicdn.com/t/font_jmcl0gxjy7am7vi.js"></script>
</head>

<body>
  <div id="root"></div>
</body>

</html>
